(
    main: (
        pos: (0.0, 2.1, 2.0),
        at: (0.0, -0.4, 0.0),
        up: (0.0, 1.0, 0.0),
    ),
    shield: (
        pos: (0.0, 0.8, 2.5),
        at: (0.0, -0.4, 0.0),
        up: (0.0, 1.0, 0.0),
    ),
    board: (
        pos: (0.0, 2.8, 0.0),
        at: (0.0, 0.0, 0.0),
        up: (0.0, 0.0, -1.0),
    ),
    spice: (
        pos: (1.23, 0.6, 0.3),
        at: (1.23, 0.0, 0.3),
        up: (0.0, 0.0, -1.0),
    ),
    storm: (
        pos: (1.23, 0.6, 0.87),
        at: (1.23, 0.0, 0.87),
        up: (0.0, 0.0, -1.0),
    ),
)